<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/rudi.css">
    <!--<link href="style.js"> -->
  </head>
  <body>
    <!-- Container -->
    <div class="container">
        <div id="colspan">
            <img src="../static/images/foto rudiansyah.jpeg">
            <h4>RUDIANSYAH</h4>
            <h3>INFO </h3>
            <p></p><i class="fa fa-home fa-fw large"></i>Kota Depok, INDONESIA</p>
            <p></p><i class="fa fa-birthday-cake fa-fw large"></i>Jakarta, 28 Agustus 2001</p>
            <p></p><i class="fa fa-phone fa-fw large"></i>087786222586</a>
            <a href="https://instagram.com/rudiiansyah28?igshid=YmMyMTA2M2Y="></p><i class="fa fa-instagram fa-fw large"></i>rudiiansyah28</a>
            <hr>
            <p>Saya Rudiansyah mahasiswa semester 6 Teknik Elektro di Universitas Pembangunan Nasional
                Veteran Jakarta memiliki minat pada bidang IoT dan elektronika serta aktif dalam berorganisasi.
                Saya baik dalam hal mengoperasikan bahasa pemrograman seperti Python dan C++. Saya bersedia untuk belajar
                bahasa pemrograman lain jika diperlukan. Saya sedang mencari sebuah
                kesempatan untuk mengembangkan keterampilan saya pada bidang Internet of Things
                dan perangkat keras elektronik.</p>
            <hr>
            <h3><i class="fa fa-linux fa-fw large"></i>Skills</h3>
            <p>Python</p>
            <div class="load">
                <div class="progress" style="width:80%">80%</div>
            </div>
            <p>C++</p>
            <div class="load2">
                <div class="progress2" style="width:60%">60%</div>
            </div>
            <p>Basic Mikrokontroller Arduino</p>
            <div class="load3">
            <div class="progress3" style="width:75%">75%</div>
        </div>
            <p>Microsoft office</p>
            <div class="load4">
                <div class="progress4" style="width:90%">90%</div>
            </div>
            <p>Elektronika</p>
                <div class="load4">
                <div class="progress4" style="width:75%">75%</div>
            </div>
            <hr>
            <h3><i class="fa fa-language fa-fw large"></i>Language</h3>
            <p>Indonesia</p>
            <p>English</p>
            <hr>
        </div>
      <div class="container-padding">
    <div class="padding">
            <div class="content1">
        <h2></i>Jenjang Pendidikan</h2>
        <h3><br/> Sekolah Dasar Negeri Pondok Labu 05</h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2008 - 2014</p>
        </p>
        </div>
        <hr>
            <div class="content2">
        <h3>SMP Keluarga Widuri</h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2014 - 2017</p>
        </p>
        </div>
        <hr>
            <div class="content3"> 
        <h3>SMA Bakti Idhata</h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2017 - 2020</p>
        </p>
            </p>
        </div>
        <hr>
            <div class="content4"> 
        <h3>Universitas Pembangunan Nasional Veteran Jakarta - Teknik Elektro (IPK 3.58) </h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2020 - Sekarang</p>
</p>
        </div>
        </div>
        </div>
      <div class="padding-bottom">
            <div class="bottom">
             <div class="content1">
        <h2><i class="fa fa-briefcase fa-fw large"></i>Pengalaman :</h2>
        <p><i class="fa fa-calendar fa-fw large"></i>SMA BAKTI IDHATA COMPETITION (SMABI CUP) - 2019</p>
        <p><i class="fa fa-calendar fa-fw large"></i>PEMBUATAN SISTEM PARKIR SEDERHANA - 2021</p>
        <p><i class="fa fa-calendar fa-fw large"></i>STAFF PERLENGKAPAN PENDIDIKAN DASAR HIMPUNAN MAHASISWA TEKNIK ELEKTRO UPNVJ - 2022</p>
        <p><i class="fa fa-calendar fa-fw large"></i>PEMBUATAN MOBIL LINE FOLLOWER - 2022</p>
        <p><i class="fa fa-calendar fa-fw large"></i>PEMBUATAN PROYEK PROTOTYPE SISTEM OTOMASI INDUSTRI SEDERHANA - 2022</p>
        <p><i class="fa fa-calendar fa-fw large"></i>ANGGOTA HIMPUNAN MAHASISWA TEKNIK ELEKTRO UPNVJ BIDANG MINAT DAN BAKAT - 2023-SEKARANG</p>
        </div>
    </div>
  </body>
</html>
