<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../static/css/vito.css"> 
    <!--<link href="style.js"> -->
  </head>
  <body>
    <!-- Container -->
    <div class="container">
        <div id="colspan">
            <img src="../static/images/vito.jpeg">
            <h4>Mochamad Advito Pebriyanto</h4>
            <h3>INFO </h3>
            <p></p><i class="fa fa-home fa-fw large"></i>Kota Bekasi, INDONESIA</p>
            <p></p><i class="fa fa-birthday-cake fa-fw large"></i>Sukoharjo, 9 Februari 2002</p>
            <a href="https://api.whatsapp.com/send/?phone=%2B6281283418059&text&type=phone_number&app_absent=0"></p><i class="fa fa-phone fa-fw large"></i>081283418059</a>
            <a href="https://www.instagram.com/rifkiloen/?hl=id"></p><i class="fa fa-google fa-fw large"></i>advitoyanto@gmail.com</p>
            <a href="https://www.instagram.com/advito_/?hl=id"></p><i class="fa fa-instagram fa-fw large"></i>advito_</a>
            <a href="https://www.linkedin.com/in/advito-pebriyanto"></p><i class="fa fa-linkedin-square fa-fw large"></i>Mochamad Advito Pebriyanto</a>
            <a href="https://github.com/advito9"></p><i class="fa fa-github fa-fw large"></i>advito9</a>
            <hr>
            <p>Saya mahasiswa semester 6 Teknik Elektro untuk
                Elektronik dan Kontrol di Universitas Pembangunan Nasional
                Veteran Jakarta. Saya memiliki antusiasme dan motivasi yang tinggi untuk menjadi
                produktif sebagai pelajar dan sebagai pekerja yang baik. Aku baik dalam operasi
                bahasa pemrograman seperti Python dan C++. Saya bersedia untuk belajar
                bahasa pemrograman lain jika diperlukan. Saya sedang mencari sebuah
                kesempatan untuk mengembangkan keterampilan saya untuk magang di Internet of Things, 
                Software Engineer, Hardware Design Engineer dan sejenisnya.</p>
            <hr>
            <h3><i class="fa fa-linux fa-fw large"></i>Skills</h3>
            <p>Python</p>
            <div class="load">
                <div class="progress" style="width:80%">80%</div>
            </div>
            <p>C++</p>
            <div class="load2">
                <div class="progress2" style="width:60%">60%</div>
            </div>
            <p>Basic Mikrokontroller Arduino</p>
            <div class="load3">
            <div class="progress3" style="width:70%">70%</div>
        </div>
            <p>Microsoft office</p>
            <div class="load4">
                <div class="progress4" style="width:90%">90%</div>
            </div>
            <p>Elektronika</p>
                <div class="load4">
                <div class="progress4" style="width:75%">75%</div>
            </div>
            <hr>
            <h3><i class="fa fa-language fa-fw large"></i>Language</h3>
            <p>Indonesia</p>
            <p>English</p>
            <hr>
        </div>
      <div class="container-padding">
    <div class="padding">
            <div class="content1">
        <h2></i>Jenjang Pendidikan</h2>
        <h3><br/> Sekolah Dasar Negeri Lubang Buaya 04</h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2008 - 2014</p>
        </p>
        </div>
        <hr>
            <div class="content2">
        <h3>Sekolah Menengah Pertama Negeri 259 Jakarta</h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2014 - 2017</p>
        </p>
        </div>
        <hr>
            <div class="content3"> 
        <h3>Sekolah Menengah Akhir 64 Jakarta</h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2017 - 2020</p>
        </p>
            </p>
        </div>
        <hr>
            <div class="content4"> 
        <h3>Universitas Pembangunan Nasional Veteran Jakarta - Teknik Elektro (IPK 3.64) </h3>
        <p><i class="fa fa-calendar fa-fw large"></i>2020 - Sekarang</p>
</p>
        </div>
        </div>
        </div>
      <div class="padding-bottom">
            <div class="bottom">
             <div class="content1">
        <h2><i class="fa fa-briefcase fa-fw large"></i>Pengalaman :</h2>
        <p><i class="fa fa-calendar fa-fw large"></i>Choaching Clinic UKM Buveja (Mentor) - 2021</p>
        <p><i class="fa fa-calendar fa-fw large"></i>Pembuatan Mini Smarthome - 2021</p>
        <p><i class="fa fa-calendar fa-fw large"></i>Pembuatan Sistem Parkir Sederhana - 2021</p>
        <p><i class="fa fa-calendar fa-fw large"></i>Buveja Open 2022 (Perlengkapan) - 2022</p>
        <p><i class="fa fa-calendar fa-fw large"></i>Pembuatan Mobil Line Follower - 2022</p>
        <p><i class="fa fa-calendar fa-fw large"></i>Pembuatan Proyek Prototype Sitem Otomasi Industri Sederhana - 2022</p>
        </div>
    </div>
  </body>
</html>